<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <title style="text-align: center;">Hack</title>
    <link rel="shortcut icon" href="images/icon2.ico"/>
    <meta name="author" content="Uchi Uchibeke">
    <link rel="stylesheet" href="demo.css" media="all">
    <title>Preview</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="http://code.vostrel.cz/jquery.reel.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript"
            src="../dist/jpeg_camera_with_dependencies.min.js"></script>

    <link href="../demo.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="../js/preview.js"></script>
    </link>
</head>
<body class="container-fluid">

<div class="col-xs-12">
    <figure class="gallery-item  text-center homeFigure" style="width: auto;padding: 0px;margin: 0px">
        <img src="http://ec2-54-175-181-19.compute-1.amazonaws.com/images/nick/38/11.jpg" height="auto" width="100%"
             class="reel center-block"
             id="image1"
             data-images="http://ec2-54-175-181-19.compute-1.amazonaws.com/images/nick/38/##.jpg|11..17"
             data-loops="false"
             class="image-responsive">
        <br>
    </figure>
    <figure class="gallery-item  text-center homeFigure" style="width: auto;padding: 0px;margin: 0px">
        <img src="http://ec2-54-175-181-19.compute-1.amazonaws.com/images/nick/38/11.jpg" height="auto" width="100%"
             class="reel center-block"
             id="image2"
             data-images="http://ec2-54-175-181-19.compute-1.amazonaws.com/images/nick/38/##.jpg|11..17"
             data-loops="false"
             class="image-responsive">
        <br>
    </figure>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
